#Chase.playing:hover { }
#Chase.playing { }
#Chase:hover { }
#Chase { }
#Underground.playing:hover { }
#Underground.playing { }
#Underground:hover { }
#Underground { }
#Sneak.playing:hover { background-color: rgb(70, 38, 95); }
#Sneak.playing { background-color: rgb(97, 53, 131); }
#Sneak:hover { background-color: rgb(185, 150, 213); }
#Sneak { background-color: rgb(161, 114, 198); }