<!-- templates/edit.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungeon Lute</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <!-- Add icon library -->
    <script src="https://kit.fontawesome.com/69a23d7d2f.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Editable title -->
<h1 id="preset-name" contenteditable="true">Enter Preset Name</h1>

<div id="available-playlists">
  <div id="playlist-container">
  </div>

  <!-- Add more playlist items as needed -->
</div>

<table id="soundboard">
  <tbody id="grid">
    <tr class="row">
      <td class="slot droppable"></td>
      <td class="slot droppable"></td>
      <td class="slot droppable"></td>
      <td id="r" rowspan="2">
        <div>
          <button id="r-add" title="add column" onclick="R()" class=""><i class="fas fa-plus" aria-hidden="true"></i></button>
          <button id="r-remove" title="remove column" onclick="r()"><i class="fas fa-minus" aria-hidden="true"></i></button>
        </div>
      </td>
    </tr>

    <tr class="row"><td class="slot droppable"></td>
      <td class="slot droppable"></td>
      <td class="slot droppable"></td>
      <td></td></tr><tr id="bot">
      <td id="d" colspan="3">
        <div>
          <button id="d-add" title="add row" onclick="D()" class=""><i class="fas fa-plus" aria-hidden="true"></i></button>
          <button id="d-remove" title="remove row" onclick="d()"><i class="fas fa-minus" aria-hidden="true"></i></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- Button to return and send slot data -->
<button id="return" title="save and return" onclick="s()"><i class="fas fa-save"></i></button>

<script src="https://kit.fontawesome.com/69a23d7d2f.js" crossorigin="anonymous"></script>
    
    
    <!-- JS-START -->
    <script src="{{ url_for('static', filename='js/edit/edit.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <!-- JS-END -->

</body>
</html>