
.slot.fade-in {
  opacity: 0;
  transform: scale(0.95);
  animation: fadeIn 0.5s forwards;
}
.slot.fade-out, .row.fade-out {
  opacity: 1;
  transform: scale(1);
  animation: fadeOut 0.5s forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}
