<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soundboard</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div id="soundboard">
        <!-- Sound buttons will be generated here by JavaScript -->
    </div>

    <div id="sound-controls" class="button-container">
        <button onclick="rewindToPrevious()">Rewind</button>
        <button id="pause_play" onclick="pause_play()">Pause</button>
        <button onclick="next()">Next</button>
    </div> 

    <div id="button-details">
        <h3 id="button-title">Button Details</h3>
        <ul id="soundList"></ul>
        <label for="playlist-select">Local Folder:</label>
        <select id="playlist-select" onchange="loadPlaylist()">
            <option value="">--Select a Playlist--</option>
        </select>

    </div>

    <div class="button-container">
        <button onclick="addButton()">Add New Button</button>
        <button onclick="saveButtons()">Save Buttons</button>
    </div>

    <div id="history">
        <h3>History</h3>
        <ul id="historyList"></ul>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/soundboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/button-details.js') }}"></script>
</body>
</html>
