<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungeon Lute</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <!-- Add icon library -->
    <script src="https://kit.fontawesome.com/69a23d7d2f.js" crossorigin="anonymous"></script>
</head>
<body>
    <script src="https://kit.fontawesome.com/69a23d7d2f.js" crossorigin="anonymous"></script>

    
    <div id="menu-bar">
        <button title="load" onclick="load()" ><i class="fas fa-folder-open"></i></button>
        <div id="media-controls" >
            <button title="rewind" onclick="rewind()" ><i class="fas fa-backward-step"></i></button>
            <button title="toggle playback" onclick="pause_play()" ><i id="pause_play" class="fas fa-pause"></i></button>
            <button title="random" onclick="next()" ><i class="fas fa-forward-step"></i></button>
        </div>
        <button title="edit" onclick="edit()" ><i class="fas fa-pencil"></i></button>
    </div>
    
    <table id="soundboard">
        <tbody id="grid">
            <!-- soundboard grid will be generated here by JavaScript -->
        </tbody>
      </table>
    
    <div id="details" >
        <h3 id="playlist-name">Playlist Name</h3>
        <ul id="song-list">
            <!-- song buttons will be generated here by JavaScript -->
        </ul>
    </div>
    
    <div id="history">
        <h3>History</h3>
        <ul id="historyList"></ul>
    </div>
    
    <script src="{{ url_for('static', filename='js/index/menu-bar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index/soundboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index/details.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
</body>
</html>
