button#colors-close.close-btn(title='close color editor' onclick="closeMenu('colors')")
    svg.delete(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 20 20' class='Delete.svg' height='20' width='20')
        g#delete
        path#Union(fill-rule='evenodd' d='M1.70711 0.292893c-0.39053 -0.3905241 -1.023693 -0.3905241 -1.414217 0 -0.3905241 0.390524 -0.3905241 1.023687 0 1.414217L5.58579 7 0.292893 12.2929c-0.3905241 0.3905 -0.3905241 1.0237 0 1.4142 0.390524 0.3905 1.023687 0.3905 1.414217 0L7 8.41421l5.2929 5.29289c0.3905 0.3905 1.0237 0.3905 1.4142 0 0.3905 -0.3905 0.3905 -1.0237 0 -1.4142L8.41421 7l5.29289 -5.29289c0.3905 -0.39053 0.3905 -1.023693 0 -1.414217 -0.3905 -0.3905241 -1.0237 -0.3905241 -1.4142 0L7 5.58579 1.70711 0.292893Z' clip-rule='evenodd' stroke-width='1')