.tab-container 
    button.tab-button(title='switch to tracks' data-tab='tab1')
        
        svg.tab-svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 14 14' id='Music-Note.svg' height='12' width='12')
            g#music-note
            path#Union(fill-rule='evenodd' d='M6.44473 0.126343c-0.55228 0 -1 0.447715 -1 0.999997v6.58881c-0.36907 -0.14892 -0.77232 -0.2309 -1.19473 -0.2309 -1.76438 0 -3.1947 1.43032 -3.1947 3.19475 0 1.7643 1.43032 3.1947 3.1947 3.1947 1.76439 0 3.19471 -1.4304 3.19471 -3.1947 0 -0.0058 -0.00002 -0.0115 -0.00005 -0.0172 0.00005 -0.0041 0.00007 -0.0081 0.00007 -0.0122V2.23056c0.25345 0.0535 0.50184 0.12733 0.74232 0.22085 0.55063 0.21413 1.04702 0.52649 1.4623 0.91638 0.41515 0.38977 0.74085 0.84905 0.96185 1.34983 0.2208 0.50059 0.3335 1.0347 0.3335 1.5724 0 0.55228 0.4477 1 1 1s1 -0.44772 1 -1c0 -0.8185 -0.1718 -1.62733 -0.5037 -2.37971 -0.3319 -0.75219 -0.8164 -1.43139 -1.4227 -2.00061C10.4121 1.34061 9.69588 0.892263 8.91193 0.587398 8.12805 0.282559 7.28987 0.126343 6.44473 0.126343Z' clip-rule='evenodd' stroke-width='1')

    button.tab-button.active(title='switch to playlists' data-tab='tab2')
        
        svg.tab-svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 14 14' id='Play-List.svg' height='12' width='12')
            g#play-list
            path#Union(fill-rule='evenodd' d='M0 1.475C0 0.661 0.66 0 1.475 0h8.29c0.815 0 1.476 0.66 1.476 1.475v8.29c0 0.815 -0.66 1.476 -1.476 1.476h-8.29A1.477 1.477 0 0 1 0 9.765v-8.29Zm2.406 6.13a1.756 1.756 0 0 1 2.011 -1.737V2.63a0.75 0.75 0 0 1 0.75 -0.75c0.95 0 1.875 0.34 2.567 0.968 0.694 0.629 1.1 1.499 1.1 2.424a0.75 0.75 0 1 1 -1.5 0c0 -0.477 -0.207 -0.95 -0.607 -1.313a2.225 2.225 0 0 0 -0.81 -0.462v4.09l0 0.018a1.756 1.756 0 0 1 -3.511 0ZM13.97 3.5a0.75 0.75 0 0 0 -1.5 0v8.748a0.222 0.222 0 0 1 -0.222 0.222H3.5a0.75 0.75 0 0 0 0 1.5h8.748a1.722 1.722 0 0 0 1.722 -1.722V3.5Z' clip-rule='evenodd' stroke-width='1')

    button.tab-button(title='switch to sound effects' data-tab='tab3')
        
        svg.tab-svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 14 14' id='Music-Equalizer.svg' height='12' width='12')
            g#music-equalizer
            path#Union(fill-rule='evenodd' d='M7.75 0.851a0.75 0.75 0 0 0 -1.5 0V13.15a0.75 0.75 0 0 0 1.5 0V0.851ZM4 2.466a0.75 0.75 0 0 1 0.75 0.75v7.568a0.75 0.75 0 1 1 -1.5 0V3.216a0.75 0.75 0 0 1 0.75 -0.75ZM1 4.831a0.75 0.75 0 0 1 0.75 0.75V8.42a0.75 0.75 0 0 1 -1.5 0V5.581a0.75 0.75 0 0 1 0.75 -0.75Zm9 -2.365a0.75 0.75 0 0 1 0.75 0.75v7.568a0.75 0.75 0 1 1 -1.5 0V3.216a0.75 0.75 0 0 1 0.75 -0.75Zm3.75 3.115a0.75 0.75 0 0 0 -1.5 0V8.42a0.75 0.75 0 0 0 1.5 0V5.581Z' clip-rule='evenodd' stroke-width='1')

button#stop-button.hidden(title='stop sfx' onclick='stopCurrentSfx()')
    
    svg.stop-svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 14 14' id='Button-Stop.svg' height='12' width='12')
        g#button-stop
        path#Union(fill-rule='evenodd' d='M1.5 0C0.671573 0 0 0.671573 0 1.5v11c0 0.8284 0.671573 1.5 1.5 1.5h11c0.8284 0 1.5 -0.6716 1.5 -1.5v-11c0 -0.828427 -0.6716 -1.5 -1.5 -1.5h-11Z' clip-rule='evenodd' stroke-width='1')

#main-control.volume-control
    #main-range.volume-range
        input#main-volume.volume(type='range' name='volume' min='0' max='1' step='0.01' value='1.0' onchange='setVolume(this.value)')
