button#settings-open(title='open settings' onclick="openMenu('settings')")
    
    svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 14 14' id='Cog.svg' height='12' width='12')
        g#cog
        path#Subtract(fill-rule='evenodd' d='m5.557 0.69 -0.463 1.195 -1.594 0.904 -1.27 -0.194a1.077 1.077 0 0 0 -1.078 0.528l-0.43 0.754a1.077 1.077 0 0 0 0.086 1.217l0.807 1.001v1.81L0.83 8.906a1.077 1.077 0 0 0 -0.086 1.217l0.43 0.754a1.077 1.077 0 0 0 1.078 0.528l1.27 -0.194 1.573 0.904 0.463 1.196a1.076 1.076 0 0 0 1 0.689h0.905a1.076 1.076 0 0 0 1.002 -0.69l0.463 -1.195 1.572 -0.904 1.27 0.194a1.077 1.077 0 0 0 1.078 -0.528l0.43 -0.754a1.077 1.077 0 0 0 -0.086 -1.217l-0.807 -1.001v-1.81l0.786 -1.001a1.077 1.077 0 0 0 0.086 -1.217l-0.43 -0.754a1.076 1.076 0 0 0 -1.078 -0.528l-1.27 0.194 -1.573 -0.904L8.443 0.689A1.077 1.077 0 0 0 7.442 0h-0.884a1.077 1.077 0 0 0 -1.001 0.69ZM7 9.25a2.25 2.25 0 1 0 0 -4.5 2.25 2.25 0 0 0 0 4.5Z' clip-rule='evenodd' stroke-width='1')

div
    
    button#rewind(title='play previous' onclick='rewind()')
        
        svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 14 14' id='Button-Previous.svg' height='12' width='12')
        g#button-previous
            path#Union(fill-rule='evenodd' d='M4.23788 6.056 12.0569 0.656892c0.3956 -0.250546 0.8779 -0.183759 1.2264 0.078205 0.2686 0.201892 0.4578 0.519713 0.4667 0.897543V12.3333l0 0.0043c0 0.884 -0.9789 1.4562 -1.6931 1.0039L4.23788 7.97496c-0.65051 -0.43882 -0.65051 -1.48014 0 -1.91896ZM0.0000610352 1.74216c0 -0.55229 0.4477149648 -1.000003 0.9999989648 -1.000003 0.55229 0 1 0.447713 1 1.000003V12.2578c0 0.5523 -0.44771 1 -1 1 -0.552284 0 -0.9999999185 -0.4477 -0.9999989648 -1V1.74216Z' clip-rule='evenodd' stroke-width='1')
    
    button#toggle(title='toggle playback' onclick='togglePlayback()')
        
        svg#Button-Pause.hidden(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 14 14' height='12' width='12')
        g#button-pause
            path#Union(fill-rule='evenodd' d='M0 1.5C0 0.671573 0.671573 0 1.5 0H4c0.82843 0 1.5 0.671573 1.5 1.5v11c0 0.8284 -0.67157 1.5 -1.5 1.5H1.5C0.671573 14 0 13.3284 0 12.5v-11ZM10 0c-0.82843 0 -1.5 0.671573 -1.5 1.5v11c0 0.8284 0.67157 1.5 1.5 1.5h2.5c0.8284 0 1.5 -0.6716 1.5 -1.5v-11c0 -0.828427 -0.6716 -1.5 -1.5 -1.5H10Z' clip-rule='evenodd' stroke-width='1')
        
        svg#Button-Play(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 14 14' height='12' width='12')
        g#button-play
            path#Union(fill-rule='evenodd' d='M2.67593 0.019165c-0.29576 0 -0.58657 0.0753875 -0.84499 0.218948 -0.26314 0.134139 -0.48525 0.336896 -0.64277 0.58693 -0.15979 0.253627 -0.247004 0.546207 -0.252169 0.845927l-0.000075 0V12.3396H0.935852l0.000149 0.0086c0.005165 0.2997 0.092379 0.5923 0.252169 0.8459 0.15752 0.2501 0.37963 0.4528 0.64277 0.587 0.25842 0.1435 0.54923 0.2189 0.84499 0.2189 0.29995 0 0.59481 -0.0775 0.85596 -0.2251 0.00575 -0.0032 0.01143 -0.0066 0.01704 -0.0101l8.62977 -5.33745c0.2617 -0.13189 0.4826 -0.33282 0.6388 -0.5813 0.1611 -0.25659 0.2467 -0.55345 0.2467 -0.85647 0 -0.30301 -0.0856 -0.59988 -0.2467 -0.85646 -0.1563 -0.24874 -0.3776 -0.44984 -0.6396 -0.58172L3.54751 0.253465c-0.00515 -0.00316 -0.01036 -0.006227 -0.01562 -0.009199 -0.26115 -0.1475588 -0.55601 -0.225101 -0.85596 -0.225101Z' clip-rule='evenodd' stroke-width='1')
    
    button#next(title='play random' onclick='next()')
        
        svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 14 14' id='Button-Next.svg' height='12' width='12')
        g#button-next
            path#Union(fill-rule='evenodd' d='M9.51212 6.056 1.6931 0.656892C1.29745 0.406346 0.815218 0.473133 0.466699 0.735097 0.198102 0.936989 0.00892463 1.25481 0.0000077775 1.63264V12.3333C0.000002589 12.3347 0 12.3362 0 12.3376c9.627e-7 0.884 0.978943 1.4562 1.6931 1.0039l7.81902 -5.36654c0.65048 -0.43882 0.65048 -1.48014 0 -1.91896Zm4.23778 -4.31384c0 -0.55229 -0.4477 -1.000003 -1 -1.000003 -0.5522 0 -1 0.447713 -1 1.000003V12.2578c0 0.5523 0.4478 1 1 1 0.5523 0 1 -0.4477 1 -1V1.74216Z' clip-rule='evenodd' stroke-width='1')

button#edit(title='open editor' onclick='edit()')
    
    svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 14 14' id='Pencil.svg' height='12' width='12')
    g#pencil
        path#Union(d='M10.715 -0.000976562c-0.1998 0 -0.3976 0.039922962 -0.5818 0.117424562 -0.18301 0.07702 -0.34892 0.18961 -0.48808 0.331228L1.40732 8.64549c-0.06116 0.06086 -0.10553 0.13651 -0.12879 0.21959L0.0185299 13.3651c-0.0487051 0.1739 0.0001992 0.3606 0.1279281 0.4884 0.12773 0.1277 0.314422 0.1766 0.488369 0.1279l4.500003 -1.26c0.08308 -0.0233 0.15873 -0.0677 0.21959 -0.1288l8.19768 -8.2377 0.0014 -0.00135c0.1399 -0.13917 0.251 -0.30459 0.3269 -0.48679 0.0762 -0.18278 0.1154 -0.37884 0.1154 -0.57686 0 -0.19802 -0.0392 -0.39408 -0.1154 -0.57687 -0.0759 -0.1822 -0.187 -0.34763 -0.3269 -0.48679l-0.0014 -0.00134L11.7859 0.448721c-0.1393 -0.14211 -0.3056 -0.255064 -0.4891 -0.332273 -0.1842 -0.0775016 -0.382 -0.117424562 -0.5818 -0.117424562Z' stroke-width='1')
